.card {
  margin-left: 10px;
  width: 300px;
  text-align: center;
}
.list {
  border: "1px solid #ccc";
  margin-bottom: 10;
  border-radius: 4;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-sizing: border-box;
  word-break: break-word;

  &:hover {
    background-color: #e0e0e0;
  }

  .list-item-close {
    color: #0b0b0b;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;

    &:hover {
      color: darkred;
    }
  }
}

.selected {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}
